<library path="src">
    <class name="URCScience" type="rqt_rover_science.plugin_view.SciencePlugin" base_class_type="rqt_gui_py::Plugin">
        <description>
            The URC science rqt thing

            matthew was here :)
        </description>
        <qtgui>
            <group>
                <label>URC</label>
            </group>
            <label>URC Science</label>
            <icon type="theme">applications-science</icon>
            <statustip>You found the easter egg!</statustip>
        </qtgui>
    </class>
</library>