<launch>

    <!-- MOVE_BASE -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen" respawn="true" >
        <rosparam file="$(find rover_rtabmap_config)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find rover_rtabmap_config)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find rover_rtabmap_config)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find rover_rtabmap_config)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find rover_rtabmap_config)/config/base_local_planner_params.yaml" command="load"/>
        <remap from="/cmd_vel" to="/cmd_vel_mux/move_base" />
    </node>

</launch>

