<?xml version=“1.0”?>
<robot name =“cougarbot”>
  
 <link name="base_link">
    <visual>
      <geometry>
        <box size="0.16 1.29 0.12"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.085"/>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  
 <link name="fl_wheel">
   <visual>
     <geometry>
        <cylinder length="0.050" radius="0.127"/>
      </geometry>
      <origin rpy=".1  0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
 </link>
                             
<link name="mlwheel">
    <visual>
      <geometry>
        <cylinder length="0.050" radius="0.127"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
</link>
  
<link name="blwheel">
    <visual>
      <geometry>
        <cylinder length="0.050" radius=“0.127”/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>
  
<link name="frwheel">
    <visual>
      <geometry>
        <cylinder length="0.050" radius="0.127"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>
  
<link name="mrwheel">
    <visual>
      <geometry>
        <cylinder length="0.050" radius="0.127"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>
  
<link name="brwheel">
    <visual>
      <geometry>
        <cylinder length="0.050" radius="0.127"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

</robot>
