<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${thread}] [${node}/${function}:${line}]: ${message}"/>
  <include file="$(find rover_arm)/launch/arm_gazebo.launch"/>
  <include file="$(find rover_moveit_config)/launch/move_group.launch"/>
  <include file="$(find rover_moveit_config)/launch/moveit_rviz.launch">
    <arg  name="config" value="True"/>
  </include>
</launch>
