<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${thread}] [${node}/${function}:${line}]: ${message}"/>

  <!-- Load the CougarBot URDF model into the parameter server -->
  <param name="robot_description" textfile="$(find rover_arm)/arm.urdf" />
  <!-- Start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <!-- Spawn a CougarBot in Gazebo, taking the description from the
       parameter server -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model arm" />
  <rosparam file="$(find rover_arm)/gazebo_controllers.yaml" command="load"/>
  <node name="controller_spawner_arm" pkg="controller_manager" type="spawner"
        args="arm_controller"/>
  <node name="controller_spawner_grip" pkg="controller_manager" type="spawner"
        args="grip_controller"/>
  <!-- Convert /joint_states messages published by Gazebo to /tf messages,
       e.g., for rviz-->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher"/>
</launch>
