<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${thread}] [${node}/${function}:${line}]: ${message}"/>

  <arg name="dev" default="/dev/input/js0"/>
  <node pkg="joy" type="joy_node" name="joy_node" clear_params="true" >
    <param name="dev" value="$(arg dev)" />
    <param name="deadzone" value="0.12" />
    <param name="coalesce_interval" value="0.1" />
    <remap from="joy" to="joy_arm" />
  </node>

  <node pkg="rover_arm" name="arm_serial" type="super_simple_arm_teleop.py" output="screen" />

</launch>
