# Place all wstool packages here, so that we don't accidentally put them in git.

usb_cam/
zed_ros_wrapper/
i2c_imu/
ROSIMU/
robot_localization/
nmea_navsat_driver

# Other system-dependant things

.rosinsta*
CMakeLists
