<launch>
    <arg name="rtabmap_args" default="--delete_db_on_start" />
    <arg name="use_gui" default="true" />
    <!-- otherwise known as trolley mapping! -->

    <include file="$(find rover)/launch/usb_cameras.launch">
        <arg name="usb_cams" value="false" />
    </include>


    <include file="$(find rover_rtabmap_config)/launch/setup_mapping_transforms_handheld.launch" />
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch" >
        <arg name="rtabmap_args" value="$(arg rtabmap_args)"/>
        <arg name="depth_topic" value="/zed/depth/depth_registered" />
        <arg name="rgb_topic" value="/zed/rgb/image_rect_color" />
        <arg name="camera_info_topic" value="/zed/rgb/camera_info" />
        <arg name="rtabmapviz" value="false" unless="$(arg use_gui)" />

        <arg name="visual_odometry" value="false" />
        <arg name="odom_frame_id" value="odom_combined" />
    </include>
</launch>