<launch>
    <node pkg="tf" type="static_transform_publisher" name="robot_base_broadcaster" args="0 0 0 0 0 0 map robot_base 100" />
    <node pkg="tf" type="static_transform_publisher" name="zed_camera_broadcaster" args="0 1 0 -1.5707963267948966 0 -1.5707963267948966 robot_base camera_link 100" />
</launch>