<launch>
    <include ns="planner" file="$(find rover_rtabmap_config)/launch/move_base_bringup.launch" />
    <!-- <include file="$(find rover_rtabmap_config)/launch/move_base_obstacle_avoid_bringup.launch" /> -->
    <include file="$(find rover_rtabmap_config)/launch/handheld_mapping.launch" />
</launch>