<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${thread}] [${node}/${function}:${line}]: ${message}"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="robot_base_to_camera_link" args="0 0 1 0 0 0 robot_base camera_link"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_to_zed_actual_frame" args="0 0 0 0 0 0 camera_link zed_actual_frame"/>

    <!-- RGBD_ODOMETRY -->
    <group ns="rgbd_odometry">
            <node output="screen" type="rgbd_odometry" name="zed_odom" pkg="rtabmap_ros" respawn="true">
                <param name="frame_id" value="robot_base"/>
                <param name="publish_tf" value="true"/>

                <!-- INPUT TOPICS -->
                <remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
                <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
                <remap from="depth/image" to="/camera/depth/depth_registered"/>
                <!-- OUTPUT TOPICS -->
                <remap from="odom" to="odom" />

                <param name="Odom/ResetCountdown" value="1"/>
                <param name="Reg/Force3DoF" type="string" value="true"/> <!-- 2D SLAM -->
                <param name="initial_pose" value="0 0 0 0 0 0"/> <!-- ZED camera is tilted downwards by 30 degrees (0.523599) or 15 degrees (0.261799) -->

                <!-- Options to Reduce Resource Usage -->
                <!-- 0=Frame-to-Map (F2M) 1=Frame-to-Frame (F2F) -->
                <param name="Odom/Strategy" value="1"/>
                <!-- Correspondences: 0=Features Matching, 1=Optical Flow -->
                <param name="Vis/CorType" value="1"/>
                <!-- maximum features map size, default 2000 -->
                <param name="OdomF2M/MaxSize" type="string" value="1000"/> 
                <!-- maximum features extracted by image, default 1000 -->
                <param name="Vis/MaxFeatures" type="string" value="600"/>
            </node>
    </group>

</launch>
