<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${thread}] [${node}/${function}:${line}]: ${message}"/>
<!-- RTABMAPVIZ -->
  <group ns="rtabmap">
    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz">
        <param name="frame_id" value="robot_base" />
        <param name="odom_frame_id" value="odom" />
        <param name="subscribe_odom_info" type="bool" value="true"/>
        <param name="subscribe_depth" value="true" />
        <!-- INPUT TOPICS -->
        <remap from="odom" to="/rgbd_odometry/odom" />
        <remap from="odom_info" to="/rgbd_odometry/odom_info"/>
        <remap from="rgb/image" to="/camera/rgb/image_rect_color" />
        <remap from="depth/image" to="/camera/depth/depth_registered" />
        <remap from="rgb/camera_info" to="/camera/rgb/camera_info" />
    </node>
  </group>
</launch>