<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${thread}] [${node}/${function}:${line}]: ${message}"/>

    <!-- RTABMAP -->
    <group ns="rtabmap">
        <node output="screen" pkg="rtabmap_ros" name="rtabmap" type="rtabmap">
            <param name="frame_id" value="robot_base" />
            <param name="subscribe_depth" value="true" />
            <param name="subscribe_scan_cloud" value="false" />
            <param name="grid_size" type="double" value="20"/>
            <param name="grid_cell_size" type="double" value="0.05"/> <!-- default: 0.05 -->
            <param name="proj_max_ground_angle" value="45"/> <!-- Maximum angle between point's normal to ground's normal to label it as ground. Points with higher ngle difference are considered as obstacles. (default=45) -->

            <!-- INPUT TOPICS -->
            <remap from="odom" to="/rgbd_odometry/odom" />
            <remap from="rgb/image" to="/camera/rgb/image_rect_color" />
            <remap from="rgb/camera_info" to="/camera/rgb/camera_info" />
            <remap from="scan_cloud" to="/camera/point_cloud/cloud_registered" />
            <remap from="depth/image" to="/camera/depth/depth_registered" />
            <!-- OUTPUT TOPICS -->
            <remap from="map" to="grid_map"/>

            <!-- Reduce Point Cloud Noise -->
            <!-- Explaination: http://docs.pointclouds.org/1.7.0/classpcl_1_1_radius_outlier_removal.html#details -->
            <!-- Noise filtering radius (default=0 disabled) -->
            <!-- <param name="cloud_noise_filtering_radius" value="0.05"/> -->
            <!-- Noise filtering minimum neighbors (default=5) -->
            <!-- <param name="cloud_noise_filtering_min_neighbors" value="5"/>  -->

<param name="Kp/DetectorStrategy" type="string" value="0"/> <!-- SURF -->
<param name="Kp/MaxDepth"  type="string" value="0"/> <!-- unlimited distance for the vocabulary  -->
<param name="Kp/NNStrategy"       type="string" value="1"/> <!-- KdTree -->
<param name="Vis/CorNNType"       type="string" value="1"/> <!-- KdTree -->
<param name="Optimizer/Strategy"  type="string" value="2"/> <!-- GTSAM global optimization -->
<param name="RGBD/LoopClosureReextractFeatures" type="string" value="true"/> <!-- optional but more loop closures would be accepted -->

        </node>
    </group>
</launch>
