<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu" args="0 0 0 0 0 0 robot_base imu_link" />

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen">
    <param name="gain" value="0.1" />
    <param name="use_mag" value="false" />
    <param name="fixed_frame" value="robot_base" />
    <param name="publish_tf" value="false" />
    <param name="publish_debug_topics" value="true" />
    <!-- INPUT TOPICS -->
    <remap from="imu/data_raw" to="imu/data_raw"/>
    <!-- OUTPUT TOPICS -->
    <remap from="imu/data" to="imu/data_madg"/>
  </node>
</launch>

